{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p style="background-color: antiquewhite; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    <table cellpadding="10">
        <tr>
            <td>


    Наша выпечка изготавливается дома, с теплотой и любовью, используются натуральные высококачественные продукты.<br />
Заказы принимаются минимум за 2 дня (зависит от сложности изделия и используемых продуктов).<br />
Доставка в пределах города бесплатна.<br />
Для постоянных клиентов есть скидки и бонусы, проводятся акции.<br /><br />
    <strong><i>Изготовление:</i></strong><br />
- вес тортов от 1000 г.<br />
- зефир, шу, от 12 шт.<br />
- эклеры от 10 шт.<br />
- остальная выпечка от 6 шт.<br />
- десерты в стаканчиках от 10 шт.<br /><br />
    <strong><i>Цена за 1 кг торта:</i></strong><br />
    - с мастикой 1500 руб.<br />
- с кремовым и ягодно-фруктовым оформлением - 1200 руб.<br />
- меренга - от 800 руб.<br />
- "Мега шоколад" - 1800 руб.<br />
- торты без оформления от 800 руб.<br /><br />
      <strong>Цены за пирожные:</strong><br />
    - Кейк попсы от 60 руб. 1 шт.<br />
- Капкейки с кремом от 80 руб. 1 шт.<br />
- пряники от 40 руб. 1 шт.<br />
- зефир 30 руб. 1 шт.<br />
- десерты в стаканчиках от 100 руб. 1 шт.<br />
- эклеры от 80 руб.<br /><br />
    Вес торта рассчитывается минимум 150 г на человека. Стоимость изделия зависит от оформления и начинки. Вес торта оговаривается приблизительный +- до 400 г, т.к. точный вес рассчитать сложно, особенно у фигурных тортов. Окончательный расчет стоимости производится после полного изготовления заказа.<br />
В мастичных тортах 2 фигурки идут в комплекте с тортом, остальные за дополнительную плату от 150 руб. в зависимости от сложности работы. В кремовых тортах и фруктовых стоимость фигурок рассчитывается отдельно.<br />
Некоторые элементы, фигурки могут крепиться на зубочистки, шпажки, проволоку. Мастика используется молочная, собственного приготовления. Перевозку тортов осуществлять только в горизонтальном положении на ровной поверхности.
  
</p>
            
        </td></tr></table>

{% endblock %}
