{% extends "app/layout.html" %}

{% block content %}

<p style="background-color: rgba(0, 0, 0, 0.58); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <table cellpadding="10">
        <tr>
            <br>

               
           <h2> Как правильно выбрать книгу? </h2></br>
            <br>
   Пожалуй, это самый главный вопрос, который задает себе человек, решивший начать путь к успеху и процветанию. Ведь ему обязательно нужны новая информация и знания. Получить все это Вы можете из разных мест – например, из книг, семинаров, Интернета, а так же от успешных людей и с тренингов, делая определенные выводы. Самым дешевым, доступным, а так же не зависящим от электричества, погоды и других факторов способом является, конечно же, книга. Хотя и Интернет в данном случае занимает не последнее место – к примеру, где же Вы возьмете произведение «Капитанская дочка» в кратком содержании, как не в глобальной сети?

Однако, увы, очень часто именно процесс выбора и поглощения литературы занимает больше всего времени и затягивает человека. А все это происходит из-за того, что люди просто не знают, как же правильно выбирать книги. И за место того, чтобы применить полученные знания по назначению и начать действовать, человек покупает очередной дешевый детектив и продолжает чтение. </br>
            <br>

Итак, как же правильно выбирать книги для чтения? Перед тем, как скачивать сотни электронных книг, либо бежать в магазин за еще одним бестселлером, четко определитесь – чего же Вы хотите в данный момент? Просто отвлечься от суровых будней и прочесть какой-нибудь легкий роман, либо получить какие-то конкретные знания?</br>
            <br>

Далее определите, какие навыки и знания Вам нужны, чтобы сдвинуться с мертвой точки и начать свое движение к успеху. Составьте что-то вроде списка саморазвития.</br>
            <br>

Далее среди списка выделите одно, ну максимум два качества, развитие коих принесет Вам эффект по максимуму. Все это поможет Вам не потонуть в огромном потоке информации, а так же сузить круг поиска.</br>
            <br>

И уже только после всего этого начинайте свой поиск книг.</br>
            <br>Выберите нескольких авторов, которые действительно зарекомендовали себя и которые имеют репутацию и авторитет, а так же практический опыт в изучении и использовании необходимых для Вас знаний. Ведь, к примеру, та же «Капитанская дочка» в кратком содержании может быть пересказана по-разному, что, согласитесь, повлияет на Ваш ответ перед преподавателем.

Изучите биографию выбранных Вами авторов, а так же, обязательно, отзывы других читателей. </br>
            <br>К выбору книги необходимо относиться так же, как и, к примеру, к покупке дорогостоящей вещи. Ведь это Ваши будущие знания и опыт, которые Вы сможете применить на деле, и которые обогатят ваш духовный мир.
</p>
            
        </td></tr></table>

{% endblock %}
