{% extends "app/layout.html" %}

{% block content %}

<address><center>
    <p style="background-color: rgba(0, 0, 0, 0.58); margin: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">

    <table>
    <tr>
        <td>


    <strong>
       <p> <h2 align="center">Нас вы можете найти:</h2></p><br>
  <p> <align="center"><a href="https://vk.com/ephangle"><img src="https://pngicon.ru/file/uploads/vk-50x50.png"> </a>Мы в Вконткате <br /></p><br><br>
   <p> <align="center"><a href="https://vk.com/ephangle"><img src="https://cdn1.radikalno.ru/uploads/2020/5/25/e9c23817ea4110d60f474629502ed5fe-full.jpg"> </a>Мы в Инстаграме <br /></p><br><br>
   <p> <align="center"><a href="https://www.facebook.com/labirint.ru/"><img src="https://cdn1.radikalno.ru/uploads/2020/5/25/310bdb5be7152a4db3953728e1e54574-full.png"> </a>Мы в Фейсбуке <br /></p><br><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2124.9538985595136!2d28.33102751548808!3d57.81910073821628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c01ecb5b30e317%3A0x51d84ef21ab72f9!2z0L_Quy4g0JvQtdC90LjQvdCwLCDQn9GB0LrQvtCyLCDQn9GB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTgwMDAw!5e0!3m2!1sru!2sru!4v1575807257428!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br /><br />
        <a href="mailto:Support@example.com">Техническая поддержка</align="center">
       
    </td> </tr></table></p></center></address>


{% endblock %}
