{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
    <p style="background-color: gainsboro; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">

  <table border="3"; cellpadding="10" bordercolor="white">
   <tr><td><img src="https://sun9-10.userapi.com/7Q75yRyTGVCW0CYy4HWLBqtq3YMmapw8EQRYbA/7yhEv8Fb_Tc.jpg?ava=1" /></td>
   <td><p class="lead"><p>Когда наступают праздники, хочется сладкого, ароматного, сочного, воздушного, необыкновенного и вкусного. Чтобы воплотить Ваши мечты в реальность, предлагаю Вам создать свой собственный торт, со своим вкусом и внешним видом. Помогать в этом Вам буду я, Ваш домашний кондитер: испеку, пропитаю, прослою и оформлю.</p>
<p><strong>Кроме тортов, мы предлагаем: эклеры, шу, маффины и капкейки, десерты в стаканах, трайфлы, кейк попсы, расписные имбирные пряники, печенье и другие сладости.</strong></p>
<p>Принимаются заказы минимум за 2 дня (зависит от сложности изделия и используемых продуктов).<br>
Для постоянных клиентов есть скидки и бонусы, проводятся акции.</p>
<p><strong>Сделайте сладкий праздник для своих друзей, близких и коллег.</strong></p>
<p>Заказ: <a href="https://vk.com/id356822555">https://vk.com/id356822555</a><br>
Группа Вконтакте:<a href="https://vk.com/id485697675">https://vk.com/id485697675</a><br />
Фейскбук:<a href="https://vk.com/id485697675">https://vk.com/id485697675</a>
</p></td>
 
</div></tr></table>

<div class="row">
    <div class="col-md-4">
        <h3>Свадебный</h3>
        <p><img src="{% static 'app/image/P1150309.jpg' %}" width="100%" /></p>
    </div>
    <div class="col-md-4">
        <h3>Молодоженам</h3>
       <p><img src="{% static 'app/image/P3190945.jpg' %}" width="100%" /></p>
       
    </div>
    <div class="col-md-4">
        <h3>На день рождение!</h3>
       <p><img src="{% static 'app/image/P2018478.jpg' %}" width="100%" /></p>
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>3х этажный</h2>
          <p><img src="{% static 'app/image/20171017_152738.jpg' %}" width="100%" /></p>
    </div>
    <div class="col-md-4">
        <h2>Лебединное озеро</h2>
         <p><img src="{% static 'app/image/20180421_162800.jpg' %}" width="100%" /></p>
    </div>
    <div class="col-md-4">
         <h2>Корзина с цветами</h2>
     <p><img src="{% static 'app/image/20180113_082651.jpg' %}" width="100%" /></p>
    </div>
    <div class="col-md-4">
        <h2>Букварь</h2>
            <img src="{% static 'app/image/20171224_222143.jpg' %}" width="100%" />    </div>
      <div class="col-md-4">
        <h2>Свинка Пеппа</h2>
         <p><img src="{% static 'app/image/20180218_085126.jpg' %}" width="100%" /></p>
    </div>
      <div class="col-md-4">
        <h2>Мальчику на 1 год</h2>
            <img src="{% static 'app/image/20180305_154645.jpg' %}" width="100%" />  
      </div> </div>

<div class="row">
          <div class="col-md-4">
        <h2>Спанч БОБ!</h2>
            <img src="{% static 'app/image/P3010392.jpg' %}" width="100%" />  
      </div>
          <div class="col-md-4">
        <h2>Миньон</h2>
            <img src="{% static 'app/image/P5231076.jpg' %}" width="100%" />  
      </div>
          <div class="col-md-4">
        <h2>Мики Маус</h2>
            <img src="{% static 'app/image/P8220621.jpg' %}" width="100%" />  
      </div>
          <div class="col-md-4">
        <h2>Паравозик</h2>
            <img src="{% static 'app/image/P8100560.jpg' %}" width="100%" />  
      </div>
          <div class="col-md-4">
        <h2>Мальчику на 2 года</h2>
            <img src="{% static 'app/image/P8109866.jpg' %}" width="100%" />  
      </div>
          <div class="col-md-4">
        <h2>Девочке Софии</h2>
            <img src="{% static 'app/image/PC060197.jpg' %}" width="100%" />  
      </div>
    </p>
</div>

{% endblock %}

