{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: rgba(0, 0, 0, 0.58); margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="3">
           <tr>
               <td>
                   <center>Евгений Водолазкин «Лавр»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/4884703-evgeniy-vodolazkin-lavr.jpg" /></center><br />
                       Давным-давно жил да был в Рукиной слободе Арсений. Судьба его не щадила: совсем маленьким он остался сиротой, родители погибли от мора. С тех пор будущего целителя воспитывал дед Христофор, который успевает передать Арсению секреты врачевания.

А потом в жизни повзрослевшего и возмужавшего главного героя происходит страшная трагедия: гибнет его возлюбленная Устина и их ребенок.

Эта тяжелая потеря превращает талантливого врача в юродивого, стремящегося исцелить всех нуждающихся и помочь каждому человеку с помощью трав и молитв. Так начинается сложный и долгий путь старца Лавра… 
               </td>
               <td>
                   <center>Михаил Зыгарь «Империя должна умереть».</center><br />
                   <center><img src="https://cv3.litres.ru/pub/c/elektronnaya-kniga/cover_330/25922438-mihail-zygar-imperiya-dolzhna-umeret.jpg" /></center><br />
                   Главный герой этой книги – российское гражданское общество. Оно зарождается в первые годы ХХ века, развивается на глазах у читателя и на его же глазах исчезает вскоре после 1917 года. Узнавая хронику событий столетней давности, читатель может понять, что происходит сегодня, и попробовать заглянуть в будущее.
               </td>
               <td>
                   <center>Борис Акунин «Аристономия»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/3299305-boris-akunin-aristonomiya.jpg" /></center><br />
                   Книга совмещает в себе два повествования. В одном – история семьи, которой выпало жить во времена революции и гражданской войны. В другом – философские рассуждения на темы добра и зла, человеческих ценностей. Оба повествования переплетаются, дополняют друг друга, заставляют думать, анализировать, делать собственные выводы.

Но кто такие аристономы? Некие совершенные люди? Где они обитают? Если задуматься, то в нашем мире подобные идеалисты были, есть и будут всегда. Им свойственны бескорыстные поступки, они готовы жертвовать собой ради идеи, они не требуют платы за помощь, не стремятся получить вознаграждение.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Умберто Эко «Имя розы»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/120303-umberto-eko-imya-rozy.jpg" /></center><br />
1327 год. Пожилой францисканский монах Вильгельм и юный бенедиктинец Адсон прибывают в бенедиктинский монастырь на севере Италии, чтобы участвовать в богословских диспутах. Это аббатство служит нейтральной территорией в непримиримом споре между папой Иоанном XXII и францисканцами, обвиненными в ереси.

Покой монастыря нарушен внезапной смертью монаха-художника. Настоятель поручает Вильгельму разобраться в этой трагедии. В течение нескольких дней францисканец опрашивает обитателей монастыря и ведет дискуссии о богословском значении смеха со старейшим монахом аббатства – слепым Хорхе. В это же время одно за другим происходят новые убийства ученых служителей. Вильгельм и Адсон идут по следу жестокого преступника: они проникают в запрещенную секцию монастырского скриптория и обнаруживают там потайные комнаты…             </td>
               <td>
                   <center>Кейт Мортон «Забытый сад» </center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/51775672-keyt-morton-zabytyy-sad-51775672.jpg" /></center><br />
Европа вот-вот будет охвачена Первой мировой войной. Западные страны готовятся к, возможно, самому сложному периоду в своей истории. И в то же время на причале австралийского порта местный работник находит маленькую девочку с чемоданчиком в руках. Она прибыла на корабле из Англии, не помнит собственного имени и говорит, что ее сюда отправила некая Сочинительница. Вскоре девочка попадает в хорошую семью, получает новое имя Нелл, растет в окружении любви и семейного тепла.           </td>
               <td>
                   <center>Борис Акунин «Доброключения и рассуждения Луция Катина»</center><br />
                   <center><img src="https://cv3.litres.ru/pub/c/elektronnaya-kniga/cover_330/42819632-boris-akunin-dobroklucheniya-i-rassuzhdeniya-luciya-katina.jpg"</center><br />
Отдавая дань таким философам-просветителям XVIII века, как Вольтер, Монтескье и Дидро, Акунин создал авантюрный роман, пропитанный духом этого бурного и богатого на идеи времени.

Жизнь молодого философа по имени Луций Катин полна всевозможных приключений и неожиданных сюрпризов, далеко не всегда приятных. Впрочем, юноша настолько остроумен и находчив, что всегда изобретает способ выйти невредимым из самых щекотливых ситуаций.              </td>
           </tr>
           <tr>
               <td>
                   <center>Борис Акунин «Счастливая Россия»</center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/22966971-boris-akunin-schastlivaya-rossiya.jpg"</center><br />
Новый роман серии «Семейный альбом» переносит читателя одновременно в не столь далекое прошлое и довольно отдаленное будущее, так что появляется возможность заглянуть в день вчерашний и день завтрашний из дня сегодняшнего. </td>
                              <td>
                   <center>Алексей Иванов «Сердце Пармы»</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/123111-aleksey-ivanov-serdce-parmy.jpg"</center><br />
XV век от Рождества Христова, почти семь тысяч лет от Сотворения мира… Московское княжество, укрепляясь, приценивается к богатствам соседей, ближних и дальних. Русь медленно наступает на Урал. А на Урале – не дикие народцы, на Урале – лесные языческие княжества, древний таёжный мир, дивный и жуткий для пришельцев. Здесь не верят в спасение праведной души, здесь молятся суровым богам судьбы. Одолеет ли православный крест чащобную нечисть вечной пармы – хвойного океана? Покорит ли эту сумрачную вселенную чужак Иисус Христос? Станут ли здешние жители русскими? И станут ли русские – здешними?                </td>
                              <td>
                   <center>Джоджо Мойес «Дарующий звезды»</center><br />
                   <center><img src="https://cv3.litres.ru/pub/c/elektronnaya-kniga/cover_330/48585538-dzhodzho-moyes-daruuschiy-zvezdy.jpg"</center><br />
Как освободиться от сковывающих пут безрадостной семейной жизни, если ты – молодая англичанка, на дворе – тридцатые годы XX века, а положение женщин в обществе еще далеко от совершенства? Выйти замуж? Сбежать в другую страну? Элис Райт удается и то, и другое! Однако, соединив судьбу с красивым и состоятельным американцем Беннетом Ван Кливом и переехав в Кентукки, женщина вскоре разочаровывается в своем поспешном решении. Мужа она не любит, а его отец – владелец местной угольной шахты – оказывается настоящим тираном…       </td>
           </tr>
           <tr>
                  <td>
                   <center>Форда Мэдокса Форд «Конец парада. Каждому свое»</center><br />
                   <center><img src="https://cv4.litres.ru/pub/c/elektronnaya-kniga/cover_330/52264446-ford-ford-madox-konec-parada-kazhdomu-svoe.jpg"</center><br />
Первый из романов знаменитого цикла «Конец парада» в Великобритании считается одной из важнейших книг о Первой мировой войне и трагических судьбах «потерянного поколения». Мучительный брак безукоризненного джентльмена Кристофера Титженса и светской красавицы Сильвии балансирует на грани катастрофы, когда он встречает юную суфражистку Валентайн. Едва начавшись, история любви с первого взгляда прерывается отъездом Кристофера на Западный фронт.           </td>
                              <td>
                   <center>Алексей Иванов «Тобол. Много званых»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/22075169-aleksey-ivanov-tobol-mnogo-zvanyh.jpg"</center><br />
Немолодой Петр I с досадой пинает тело висельника, шаман проводит кровавые обряды, каторжники сбивают ноги о бездорожье… И все они сойдутся в Сибири. В сердце и плавильном котле молодой империи…

Алексей Иванов создал масштабную сагу, которая погружает читателя в атмосферу эпохи. В ней десятки героев и тысячи судеб сплетаются в историю одной большой страны. По ходу романа вы взглянете на Петровскую Россию глазами раскольника-старообрядца, монарха и пленного шведа-протестанта, увидите, как росли Тобольский кремль и новые города, познакомитесь с суровыми нравами и красотой Сибири.             </td>
                              <td>
                   <center>Эдвард Радзинский «Цари. Романовы. История династии»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/5977192-edvard-radzinskiy-cari-romanovy-istoriya-dinastii.jpg"</center><br />
В книгу Эдварда Радзинского вошли три лучших романа о представителях Царской семьи. Елизавета и ее таинственная дочь, Александр II и Николай II.          </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
