{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<p style="background-color: rgba(0, 0, 0, 0.58); margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="3">
           <tr>
               <td>
                   <center>Стивен Хокинг «Джордж и код, который не взломать»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/16957598-stiven-hoking-dzhordzh-i-kod-kotoryy-ne-vzlomat.jpg" /></center><br />
«Джордж и код, который не взломать» – четвертая книга о приключениях Джорджа в космосе, написанная астрофизиком, гениальным пропагандистом науки Стивеном Хокингом и его дочерью, научным журналистом Люси Хокинг. Эта космическая эпопея стала сверхпопулярной среди детей от 7 до 12 лет по всему миру не только благодаря головокружительному и остроумному сюжету, сколько из-за того, как там излагается научная информация.  
               </td>
               <td>
                   <center>Стивен Хокинг «Джордж и сокровища Вселенной»</center><br />
                   <center><img src="https://cv8.litres.ru/pub/c/elektronnaya-kniga/cover_330/6721281-stiven-hoking-dzhordzh-i-sokrovischa-vselennoy.jpg" /></center><br />
Во второй книге трилогии, к неразлучным друзьям Джорджу и Анни присоединяется еще один мальчик – компьютерный гений Эммет. Но отношения Анни и Эммета с самого начала не задались. И все же только втроем они сумеют разгадать загадочные послания, которые ведут их с планеты на планету. И в конце этого небезопасного путешестия не только обнаружить таинственного отправителя, но и раскрыть одну очень старую тайну.
               </td>
               <td>
                   <center>А. В. Гитлиц «Дневник Стива. Книга 14. Крайний том»</center><br />
                   <center><img src="https://cv3.litres.ru/pub/c/pdf-kniga/cover_330/54171039-a-v-gitlic-dnevnik-stiva-kniga-14-krayniy-tom-54171039.jpg" /></center><br />
Стив наконец-то очутился в Крае, удивительном месте, которое должно привести его домой. От него потребуется много упорства, силы и смелости (а ещё стойкость к дурным запахам), чтобы победить дракона и не попасться в лапы странникам Края. Стив не раз упадёт духом и не единожды опустит руки, съест много стейков и золотых яблок, прежде чем всё-таки сможет выиграть и эту битву. Но что дальше? Как найти портал в город Края? Где отыскать сокровища? Как уберечься от затейников-коробейников? И что ждёт Стива в самом КОНЦЕ?         
               </td>
           </tr>
           <tr>
               <td>
                   <center>Холли Вебб «Загадка закрытого ящика»</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/18889112-holli-vebb-zagadka-zakrytogo-yaschika.jpg" /></center><br />

Конечно, никто не предложит Мейзи начать карьеру детектива с поиска похищенных бриллиантов (а хотелось бы!). Первое дело придется найти самой – например, помочь знакомому мальчику, которого обвинили в краже денег, пропавших из… закрытого на ключ ящика!
               </td>
               <td>
                   <center>Бодо Шефер «Пёс по имени Мани»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/22649364-bodo-shefer-pes-po-imeni-mani.jpg" /></center><br />
Трогательная история говорящего Лабрадора Мани, который оказался настоящим финансовым гением, в доступной форме открывает перед детьми и взрослыми секреты денег.            </td>
               <td>
                   <center>Наринэ Абгарян «Манюня»</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/9532713-narine-abgaryan-manunya-9532713.jpg"</center><br />
«Манюня» – книга о детстве. Смешном, прекрасном и полном всякоразных приключений.

Если вы любите смеяться, эта книга для вас.

И, конечно же, для ваших родителей, которые выросли, но в душе всё равно остались детьми.               </td>
           </tr>
           <tr>
               <td>
                   <center> Льюис Кэрролл «Алиса в Стране Чудес. Алиса в Зазеркалье»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/2886065-luis-kerroll-alisa-v-strane-chudes-alisa-v-zazerkale.jpg"</center><br />
В книгу включены две самые известные и популярные сказочные повести английского писателя и математика Льюиса Кэрролла: «Алиса в Стране Чудес» и «Алиса в Зазеркалье». Неповторимое своеобразие кэрролловского стиля, необычные ситуации, в которые попадает главная героиня, удивительные превращения, происходящие с ней и забавные герои, с которыми Алиса встречается во время своих путешествий – все это и есть Страна Чудес, край удивительных вопросов и еще более удивительных ответов.
               </td>
                              <td>
                   <center>Энн Файн «Дневник кота-убийцы. Все истории (сборник)»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/24315169-enn-fayn-dnevnik-kota-ubiycy-vse-istorii.jpg"</center><br />
Теперь все истории о многочисленных проделках Таффи собраны в одной книге с новыми иллюстрациями. Энн Файн, кавалер ордена Британской империи, член Королевского литературного общества, обладатель двух медалей Карнеги, многократный лауреат звания «Лучший детский писатель года» в Британии, французской премии за лучшую переводную книгу, нескольких престижных американских литературных премий и многих других.                           </td>
                              <td>
                   <center>Мария Людвика Крюгер «Голубая бусинка»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/7154700-mariya-ludvika-kruger-golubaya-businka.jpg"</center><br />
Семья восьмилетней Каролинки переезжает в новую квартиру. Пока взрослые собирают и выносят вещи, девочка случайно находит на полу, в щели, маленькую голубую бусинку. Да не простую, а волшебную – бусинка исполняет любые желания!

Так и начинаются невероятные приключения Каролинки и ее верного друга Пётрека: они летают по воздуху, превращаются в невидимок, оживляют деревянную Бабу Ягу и каменных львов, воюют со злой колдуньей Филоменой… Но число желаний, которые может исполнить голубая бусинка, ограничено, и друзья учатся отличать пустяковые забавы от вещей важных и стоящих.
                              </td>
           </tr>
           <tr>
                  <td>
                   <center>Черстин Лундберг Хан «Печенье счастья»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/audiokniga/cover_330/28519309-cherstin-lundberg-han-pechene-schastya-28519309.jpg"</center><br />
Родители Оскара со странностями. Папа любит оперу, поэтому распевает оперные арии везде, где только можно. А мама – любительница танцев. Оскару каждый раз приходится краснеть за своих родителей. Все, чего он хочет, чтобы его родители были как все.

Однажды в китайском ресторанчике получив печенье счастья, Оскар читает предсказание: его заветное желание сбудется, нужно только его произнести. Растерявшись, Оскар загадывает совсем не то, что хотел, и его жизнь переворачивается с ног на голову.
                  </td>
                              <td>
                   <center>Владимир Осипович Богомолов «Момент истины» </center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/7706211-vladimir-bogomolov-moment-istiny.jpg"</center><br />
В созданном на фактическом материале романе повествуется о розыскниках советской военной контрразведки, обезвредивших во время Великой Отечественной войны группу фашистских агентов.
                                  <td>
                   <center>Астрид Линдгрен «Приключения Эмиля из Лённеберги»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/147096-astrid-lindgren-priklucheniya-emilya-iz-lennebergi.jpg"</center><br />
Веселая повесть про Эмиля из Леннеберги, которую написала замечательная шведская писательница Астрид Линдгрен, а на русский язык блистательно пересказала Лилианна Лунгина, полюбилась и взрослым и детям всей планеты. Этот вихрастый мальчуган – ужасный озорник, он и дня не проживет, не напроказничав. Ну кому придет в голову гонять кошку, чтобы проверить, хорошо ли она прыгает?! Или надеть на себя супницу? Или поджечь перо на шляпе у пасторши? Или поймать в крысоловку родного отца, а поросенка накормить пьяными вишнями?..
                                  </td>
           </tr>
       </table>
</p>


{% endblock %}
