{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: rgba(0, 0, 0, 0.58); margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="3">
           <tr>
               <td>
                   <center>Анджей Сапковский «Ведьмак» </center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/6375365-andzhey-sapkovskiy-vedmak.jpg" /></center><br />
                  Геральт из Ривии – ведьмак, один из немногих представителей некогда большого и могущественного дома борцов с нечистью. Он один из лучших в своем деле, с детства наученный убивать упырей, ведьм, леших и всех, кто так или иначе угрожает людям. Но делает он это вовсе не из добрых побуждений. Ведьмак – это работа. А за работу, как известно, нужно платить. И не важно, требуется убить стрыгу в склепе или участвовать в политических интригах и человеческих войнах. Геральт знает цену собственного мастерства и своего не упустит.
               </td>
               <td>
                   <center> Ирмата Арьяр «Тёмный отбор»</center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/54128975-irmata-aryar-temnyy-otbor.jpg" /></center><br />
                   Чистая случайность занесла меня на самый необычный отбор королевских невест в истории Риртона. Впервые наследнику светлейшей династии ищут не традиционную принцессу и не светлую магиню, а совсем даже наоборот: Совет Ока решил уравновесить зарвавшиеся светлые силы темной кровью. Только магистры никак не могут решить, очень темной или не очень? С сильной магией должна быть невеста или достаточно слабачки, чтобы не пугать придворных? К тому же у короля есть тайное пристрастие к голубоглазым и белокурым бестиям, это тоже надо учесть. Какое счастье, что я, чернокнижница Асгерд, – полная противоположность королевской мечте.
               </td>
               <td>
                   <center>Сергей Лукьяненко «Маги без времени» </center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/48671502-sergey-lukyanenko-magi-bez-vremeni.jpg" /></center><br />
                  Действие разворачивается в Темной Империи, где обычные люди соседствуют с удивительными существами. Здесь царит рунная магия. Правильное начертание рун и их сочетаний дает магам возможность творить невероятные вещи: наносить удары противнику, вызывать огонь, создавать электрические разряды…
               </td>
           </tr>
           <tr>
               <td>
                   <center>Анатолий Дроздов «Лейб-хирург»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/54028169-anatoliy-drozdov-leyb-hirurg.jpg" /></center><br />
                     Перед вами вторая книга серии «Зауряд-врач» Анатолия Дроздова. Сознание майора медицинской службы Российской армии, погибшего в Сирии, перенеслось в другой мир. В прошлой жизни у него осталась взрослая дочь, которая учится в Московском университете. Здесь же у его постели читает молитвы императрица Ольга Александровна Романова, наследница престола Российской империи.
               </td>
               <td>
                   <center>Макс Глебов «Асимметричный ответ»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/51865708-maks-alekseevich-glebov-asimmetrichnyy-otvet.jpg" /></center><br />
                   Перед вами четвертая книга серии Макса Глебова «Запрет на вмешательство». Подполковника Нагулина ждут новые трудности. Чтобы деблокрировать Московский котел, немцы решили применить химическое оружие. Необходимо ответить противнику так, чтобы навсегда отбить у Гитлера желание применять отравляющие вещества, но при этом самим не наносить химические удары. Подполковник решается на применение экспериментального оружия. Но достаточно ли мощи боевых термитных смесей и боеприпасов объемного взрыва, чтобы деморализовать солдат противника?
               </td>
               <td>
                   <center>Константин Назимов «Охранитель. Пути-дороги»</center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/54122474-konstantin-nazimov-ohranitel-puti-dorogi.jpg"</center><br />
                 Те времена, когда Иван Чурков чувствовал себя в прошлом не в своей тарелке, давно прошли. Прожив несколько лет в начале двадцатого века, он не только обзавелся полезными знакомыми, но и занял вполне весомое место в обществе. Он делает все, что в его силах, лишь бы сохранить хрупкую империю. Но это удается далеко не всегда.

Что может произойти, если против Ивана устроят серьезную провокацию? Вероятно, императрица сначала выдвинет претензию, а затем – угрозу. Как последуют дела дальше, можно только гадать. И если сам Иван Чурков думает, что он – далеко не тот человек, из-за которого может развязаться война, то другие в этом так не уверены.
               </td>
           </tr>
           <tr>
               <td>
                   <center> Макс Глебов «Стратегия воздействия»</center><br />
                   <center><img src="https://cv2.litres.ru/pub/c/elektronnaya-kniga/cover_330/50536228-maks-alekseevich-glebov-strategiya-vozdeystviya.jpg"</center><br />
                  Не вмешиваться в ход земной истории становилось все труднее. Старший лейтенант Петр Нагулин, отлично это понимал. Совершив экстренную вынужденную посадку во время космического боя на поверхность этой планеты, он вновь оказался в гуще сражения. Земля охвачена Второй мировой войной.

Выбрать сторону для Нагулина не составляло труда. Сначала соратниками стали красноармейцы, в окружении которых он оказался. Но чем больше он вникал в ход событий, тем больше понимал, что оставаться равнодушным уже не получится. Используя аппаратуру своего челнока, старший лейтенант получал информацию, которой не было даже у высшего командования СССР. Рискованные предложения Петра вызывали интерес НКВД. Один раз дело удалось замять, но что будет дальше?
               </td>
                              <td>
                   <center>Ная Геярова «Невеста твоей мечты, или Ведьму вызывали?»</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/54813013-naya-geyarova-nevesta-tvoey-mechty-ili-vedmu-vyzyvali.jpg"</center><br />
                  Говорят, все девушки моего возраста желают замуж. Чем я, ведьма, хуже? Я тоже пожелала. Кто же знал, что именно в этот день я умудрилась подписать контракт с адом. Но контрактик оказался с хорошей ложкой дёгтя! Теперь я — штатная ведьма магической академии. Сам чёрт пришёл исполнять моё желание. И кто только ни предлагает мне руку и сердце. Разве что женишки-то все — нечисть! Да и вообще, вокруг меня оказалось столько вампиров, оборотней и прочих потусторонних, что пора за голову хвататься!.. Да к тому же на меня недвусмысленно поглядывает сам ректор академии. И кто-то точит зубы. Большие драконьи зубы!
               </td>
                              <td>
                   <center>Айнур Галин «Иной мир. Морпехи. Часть первая»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/54075397-aynur-galin-23106963-inoy-mir-morpehi-chast-pervaya.jpg"</center><br />
                 Что вы сделаете, если наш спокойный мир и обыкновенная жизнь, к которым мы привыкли, которые наблюдаем изо дня в день, ход времени, который нас всех устраивает, вдруг прекратят существовать? Что вы сделаете, если вдруг окажетесь в месте, которое никогда не видели, и навряд ли кто-нибудь другой видел, и в котором всё по-иному? Что вы сделаете, если попадёте в Иной мир?! В мир, в котором только страх, опасность, постоянная борьба за выживание и каждый новый день говорит о том, что ничего хорошего ждать не приходится. Во время учений, подразделение морпехов под командованием майора Архипова, через случайно открывшийся портал переходят в Иной мир, где они должны выстоять в борьбе за свои жизни.
               </td>
           </tr>
           <tr>
                  <td>
                   <center>Виталий Зыков «Малк. И когда ты её нашёл»</center><br />
                   <center><img src="https://cv3.litres.ru/pub/c/elektronnaya-kniga/cover_330/51563635-vitaliy-zykov-malk-i-kogda-ty-ee-nashel.jpg"</center><br />
                  Для начала, все нужно было разложить по полочкам. Если у тебя столько врагов, тебе просто необходимо их сгруппировать и обозначить. Исходя из полученных результатов, рассчитать силы. Разработать дальнейшую стратегию.
Думая обо всем этом, Малк сосредоточенно чертил колонки и вносил в них данные. По всему выходило, что ему с его силами с таким количеством противников не совладать. Значит, нужно обзавестись союзниками. А еще лучше, покровителями. Вот, к примеру, привлекательно выглядит армия. Или демоноборцы. Есть и другие организации. Только вот стоит ли…
               </td>
                              <td>
                   <center>Татьяна Зинина «Игра тёмного принца»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/53658295-tatyana-zinina-igra-temnogo-princa.jpg"</center><br />
                  Говорят, столичная академия хранит в своих стенах много тайн… Говорят, под личиной здесь учится младший принц… А ещё говорят, что именно тут каждый год тайно проводятся запрещённые Игры магов. Я не верила слухам, пока не столкнулась со всем этим лично. Рада была бы и дальше оставаться в неведении, но не вышло. Теперь, чтобы спасти единственную подругу, мне придётся принять участие в тех самых Играх, как-то умудриться стать в них победителем, не попасться полиции и сохранить собственные секреты. А это не так-то просто, тем более что по жребию мне в напарники постоянно достаётся один и тот же самоуверенный аристократ-пятикурсник, которого попеременно хочется то обнять, то придушить.
               </td>
                              <td>
                   <center>Валентина Георгиевича Вишнякова «Подумаешь, попал – 2»</center><br />
                   <center><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_330/54771703-valentin-georgievich-vishnyakov-podumaesh-popal-2.jpg"</center><br />
                 Продолжаются приключения героя в параллельном мире, участие в боях и сражениях приносит ему опыт командования более крупными воинскими частями. Он разрабатывает и осуществляет еще более дерзкие планы военных действий, приносящих победу, при этом стараясь уменьшить потери личного состава, но война есть война и потери не избежать.

Появляется еще один человек из его мира, который благодаря своим навыкам и опыту спасает герою жизнь.
               </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
