{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<p style="background-color: antiquewhite; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Эклеры и капкейки</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47837.jpg" /></center><br />
Любителям маленьких сладостей к чаю эклеры с разнообразным кремовым оформлением и капкейки с ягодами и шоколадом.   
               </td>
               <td>
                   <center>Капкейки для любимого!</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47824.jpg" /></center><br />
Для любимого капкейки, на которых ягоды и пряники в форме звезды, сердечка, круга с поздравлениями и надписями на заказ.   
               </td>
               <td>
                   <center>Капкейки на день ВДВ</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47815.jpg" /></center><br />
На день ВДВ набор капкейков, на которых ягоды, пряничная звезда, логотип с парашютом и тельняшка с буквами или надписью на заказ.          
               </td>
           </tr>
           <tr>
               <td>
                   <center>Кофейные капкейки</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47807.jpg" /></center><br />

К чаю и кофе капкейки с нежными кремовыми шапочками, которые украшены шоколадом в виде кофейных зерен.
               </td>
               <td>
                   <center>Капкейки для подружки</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47803.jpg" /></center><br />
Для подружки на день рождения набор капкейков, на которых роза, бант, сумочка, тиара, косметика и надпись с поздравлениями.               </td>
               <td>
                   <center>Капкейки для Мамочки.</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47792.jpg"</center><br />
Для мамочки набор капкейков, кремовые шапочки которых украшают разнообразные букеты цветов, ягоды и пряничное сердечко с поздравлениями.   
               </td>
           </tr>
           <tr>
               <td>
                   <center>Пряники "Пятерка"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46350.jpg"</center><br />
Пряники "Пятерка" с пожеланиями отличной учебы. Выполнены в разных оттенках. Украшены цветами, формулами, стихами, диктантами и другими надписями на тему школы.   
               </td>
                              <td>
                   <center>Набор капкейков с ягодами и сладостями</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46349.jpg"</center><br />
Для сладкоежек набор капкейков, которые украшают разнообразные ягоды (малина, голубика, ежевика) и вкусняшки (шоколадки, печенье, маршмеллоу и другие).                              </td>
                              <td>
                   <center>Золотые кейк попсы</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46352.jpg"</center><br />
Любой праздничный стол украсят кейк попсы - золотые, словно из сказки или игрушки на новогодней елочке. Их можно украсить маленькими ленточками и бантиками.
                              </td>
           </tr>
           <tr>
                  <td>
                   <center>Пряники с цветами</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46351.jpg"</center><br />
Для любимых пряники в форме сердечек, на белом фоне которых розовые цветы в стиле акварели или вышивки - вкусное, красивое и оригинальное угощение!
                  </td>
                              <td>
                   <center>Пряники "Мальчик+девочка"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46348.jpg"</center><br />
На годовщину свадьбы или совместной жизни пряники в форме сердечек, на голубом фоне которого пара держащихся за руки девочки и мальчика, а также розочки и надпись на заказ.
                                  <td>
                   <center>Набор капкейков на "Девичниик"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46347.jpg"</center><br />
Набор капкейков на девичник: на ярко-розовых кремовых шапочках девушки, косметика, бутылочка шампанского, бикини, цветочки и дата свадьбы.
                                  </td>
           </tr>
       </table>
</p>


{% endblock %}
