{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: gainsboro; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Торт "Ракета"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47835.jpg" /></center><br />
                   На день рождения мальчика торт в виде ракеты, собирающейся взлететь вверх. На боку торта можно указать возраст именинника.<br />
                   <b>Вес: 3кг.</b>
               </td>
               <td>
                   <center>Торт с самолетом</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47834.jpg" /></center><br />
                   Для мальчика на день рождения одноярусный круглый торт голубого оттенка, как небо. Наверху в облаках самолет. По боками между деревьев едут трактор и другие машины.<br />
                   <b>Вес: 2кг.</b>
               </td>
               <td>
                   <center>Торт на 1 годик, с пряниками</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47825.jpg" /></center><br />
                   На годик девочки одноярусный круглый торт в розовых и оранжевых оттенках. Украшен подтеками, меренгами, маршмеллоу и пряниками с метрикой.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Торт в стиле Майнкрафт</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47821.jpg" /></center><br />
                      Одноярусный квадратный торт в стиле популярной компьютерной игры "Майнкрафт" с главными персонажами - здесь Стив, крипер, свинка и волк.               </td>
               <td>
                   <center>Торт в виде футбольного поля.</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47820.jpg" /></center><br />
                   Одноярусный прямоугольный торт в виде футбольного поля. Отдельно надпись с указанием имени и возраста именинника, а также небольшой футбольный мяч.
               </td>
               <td>
                   <center>Торт с кошечкой на годик</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47819.jpg"</center><br />
                  На годик девочки одноярусный круглый торт в розовых и белых оттенках, на котором меренги, маршмеллоу и пряники в виде сердечек, цифры и кошечки с бантиками.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Торт в желто-сиреневых тонах с пряниками</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47816.jpg"</center><br />
                  Одноярусный круглый торт в желто-сиреневых тонах. Наверху горка из разнообразных ягод и пряники в форме сердечек и цифры.
               </td>
                              <td>
                   <center>Торт по мотивам "Железного человека"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47813.jpg"</center><br />
                  Фанатам супергероев одноярусный круглый торт в красных и белых оттенках в стиле акварели. На торте леденцы и пряники в виде звезд, цифры и с изображением маски Железного человека.
               </td>
                              <td>
                   <center>Торт "Розовая Пони"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47812.jpg"</center><br />
                  Для поклонников мультфильма "Дружба - это чудо" торт в форме пони, одной из главных героинь. Здесь веселая и добрая Пинки Пай розового оттенка.
               </td>
           </tr>
           <tr>
                              <td>
                   <center>Двухъярусный торт с Единорожком</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47810.jpg"</center><br />
                  На день рождения девочки двухъярусный круглый торт розового оттенка, на котором в облаках и на фоне радуги сидит единорожек.
               </td>
                              <td>
                   <center>Торт с мишкой на годик</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47809.jpg"</center><br />
                  На годик ребенка одноярусный круглый торт в нежных пастельных оттенках, украшенный меренгами, леденцами и пряничным мишкой с кубиками.
               </td>
                              <td>
                   <center>Шоколадный торт для крутой девчули</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47808.jpg"</center><br />
                  Для крутой девчули одноярусный круглый торт, покрытый шоколадной глазурью и украшенный меренгами, безе, леденцами и маршмеллоу.
               </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
