{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: antiquewhite; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Торт на золотую свадьбу</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47836.jpg" /></center><br />
                   На золотую свадьбу или 50-летие совместной жизни одноярусный круглый торт белого оттенка, на котором много цветов, золотые обручальные кольца, надпись с именами и цифры.
               </td>
               <td>
                   <center>Торт на осеннюю свадьбу</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47817.jpg" /></center><br />
                   Двухъярусный круглый торт с открытыми коржами. Украшен горкой разнообразных ягод (малина, клубника, голубика, инжир) и гроздьями рябины.
               </td>
               <td>
                   <center>Торт на розовую свадьбу, 17 лет.</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47814.jpg" /></center><br />
                   Одноярусный круглый тортик в белых и розовых оттенках в стиле акварели. На торте большой букет цветов и цифры.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Свадебный торт с живыми цветами</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47811.jpg" /></center><br />
                      Трехъярусный свадебный торт белого оттенка. Украшен большим букетом из разных цветов и топпером с инициалами и сердечком с датой.
               </td>
               <td>
                   <center>Торт на 40-летний свадебный юбилей</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47798.jpg" /></center><br />
                   На рубиновую свадьбу одноярусный круглый торт в ярко-красных и белых или светло-лимонных оттенках. На торте карамельная вазочка, словно взрыв огня, с ягодами малины и граната, а также соответствующая надпись.
               </td>
               <td>
                   <center>Нежный свадебный торт с розами</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47796.jpg"</center><br />
                  Двухъярусный круглый торт в нежных лимонных и персиковых оттенках. Украшен букетами из цветов с листьями и бусинами.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Свадебный 2х ярусный торт</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47794.jpg"</center><br />
                  Двухъярусный торт с любой любимой начинкой на заказ. Украшен разнообразными свежими ягодами (например, клубника, ежевика, голубика, инжир).
               </td>
                              <td>
                   <center>Торт с розами</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46355.jpg"</center><br />
                  Трехъярусный круглый торт белого оттенка украшен рельефными узорами, бусами и большими красными розами, ярко выделяющими на светлом фоне.
               </td>
                              <td>
                   <center>Торт с малиной</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46354.jpg"</center><br />
                 Трехъярусный круглый торт белого оттенка украшен бусами, рельефными узорами и на каждом ярусе горками ягод свежей малины.
               </td>
           </tr>
           <tr>
                  <td>
                   <center>Свадебный торт с клубникой.</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46306.jpg"</center><br />
                  Четырехъярусный круглый торт с открытыми коржами. Украшен клубникой (целой и кусочками). Еще можно украсить веточками оливы или мяты.
               </td>
                              <td>
                   <center>Торт на годовщину свадьбы</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/36/36038.jpg"</center><br />
                  Свадебный торт в один ярус и круглый. Украшен подтеками, розовыми розами, белым бантом, золотыми обручальными кольцами и пряничными сердечками с именами.
               </td>
                              <td>
                   <center>Торт "Сердце"</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/23/23473.jpg"</center><br />
                  Для влюбленных к праздничному столу торт в форме сердца в розовых и белых оттенках. Украшен бусинами и цветами.
               </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
