{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: antiquewhite; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="10" bordercolor="white">
           <tr>
               <td>
                   <center>Торт с кремовыми цветами</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47838.jpg" /></center><br />
                        Одноярусный круглый торт в бело-голубых тонах. Украшен большим букетом из разнообразных кремовых цветов.   
               </td>
               <td>
                   <center>Торт на день рождения.</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47826.jpg" /></center><br />
                   На день рождения одноярусный круглый торт с шоколадными подтеками, горкой разнообразных сладостей и цифрами в зависимости от возраста именинника.
               </td>
               <td>
                   <center>Торт для любителя физики</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47823.jpg" /></center><br />
                   Для любителя физики одноярусный круглый торт в голубых и белых оттенках. На торте меренги, шоколадки, печенье Орео, формулы и схемы, а также цифры в зависимости от возраста именинника.
               </td>
           </tr>
           <tr>
               <td>
                   <center>Торт с картой</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47822.jpg" /></center><br />
Одноярусный прямоугольный торт с рисунком карты, на котором компас, якорь с канатом, звезда и пергамент с надписью на заказ.               </td>
               <td>
                   <center>Торт для танкиста на 65 лет</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47818.jpg" /></center><br />
Одноярусный круглый торт с шоколадными подтеками, разнообразными ягодами и пряником в виде открытки с танком и цифрами или надписью на заказ.               </td>
               <td>
                   <center>Торт для парикмахера</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47805.jpg"</center><br />
Для парикмахера одноярусный круглый торт в белых и розовых оттенках. На торте ножницы, плойка, расческа, косметика - все нужное для обновления имиджа!               </td>
           </tr>
           <tr>
               <td>
                   <center>Торт с бабочками</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47800.jpg"</center><br />
Одноярусный круглый торт в сиреневых, розовых и белых оттенках. Снизу наверх летят бабочки к горке ягод, среди которых голубика, клубника, инжир.               </td>
                              <td>
                   <center>Торт для мужа-полицейского</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47797.jpg"</center><br />
Для мужа-полицейского на день рождения одноярусный круглый торт голубого оттенка с красными подтеками, погонами и горкой разнообразных ягод.               </td>
                              <td>
                   <center>Торт-книга (дневник) к Дню учителя</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47795.jpg"</center><br />
Одноярусный прямоугольный торт в виде раскрытого школьного дневника с расписанием, домашним заданием, оценками, а также цветами.               </td>
           </tr>
           <tr>
                  <td>
                   <center>Торт на 14-летие</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/47/47793.jpg"</center><br />
На 14-летие одноярусный круглый в нежных пастельных оттенках в стиле акварели. На торте ягоды, цветы, паспорт и соответствующие цифры.               </td>
                              <td>
                   <center>Яркий торт со сладостями на 10-летие</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46327.jpg"</center><br />
На 10-летие девочки одноярусный круглый торт в розовых, голубых и белых оттенках. Украшен меренгами, леденцами, безе, маршмеллоу - сладкоежки не останутся равнодушными!               </td>
                              <td>
                   <center>Торт "Три шоколада" для мужчины</center><br />
                   <center><img src="https://торты.сайт/i/cat/300/46/46343.jpg"</center><br />
Любителям сладостей и хорошего виски одноярусный круглый торт нежно-лимонного оттенка с горкой шоколадок и бутылочкой Bells.               </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
