{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<p style="background-color: rgba(0, 0, 0, 0.58); margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    
       <table border="3"; cellpadding="3">
           <tr>
               <td>
                   <center>Пенелопа Дуглас «Курок»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/51839194-penelopa-duglas-kurok.jpg" /></center><br />
                  Уинтер с ужасом ждала того момента, когда Дэймон – человек, которого она отправила в тюрьму, – выйдет на свободу. Женившись на ее сестре, он только начал реализовывать свой жестокий план мести. Когда-то давно Уинтер доверилась незнакомцу, и он предал ее. Но, возможно, настало время сделать новые выводы из старых ошибок..<br />
              
               </td>
               <td>
                   <center>Стивен Кинг «Институт»</center><br />
                   <center><img src="https://cv8.litres.ru/pub/c/elektronnaya-kniga/cover_330/51598283-stiven-king-institut.jpg" /></center><br />
                   Если верить статистическим данным, только в США ежегодно пропадает восемьсот тысяч детей. Большинство из них находятся, но тысячи – нет. Куда исчезают малыши и что с ними происходит? Пытаясь привлечь внимание широкой общественности к проблеме похищения детей, известный американский писатель Стивен Кинг предлагает свой вариант ответа. Фантастический? Да. Страшный? Безусловно! Правдоподобный? Кто знает…<br />
                
               </td>
               <td>
                   <center>Дарья Донцова «Блеск и нищета инстаграма»</center><br />
                   <center><img src="https://cv9.litres.ru/pub/c/elektronnaya-kniga/cover_330/51839094-darya-doncova-blesk-i-nischeta-instagrama.jpg" /></center><br />
                   Если вы решили в очередной раз наступить на грабли, но предусмотрительно надели на голову мотоциклетный шлем, значит, у вас богатый жизненный опыт общения с этим сельскохозяйственным инструментом. Вечно Вилка попадает в невероятные истории – они подстерегают ее даже в супермаркете. После утомительнейшей съемки для своего инстаграма Виола Тараканова отправилась за покупками. Едва она вошла в магазин, как столкнулась с уборщицей, оказавшейся ее бывшей одноклассницей Елизаветой Мышатиной. Тараканова с Лизой не успела и парой фраз перекинуться, как та вдруг упала без чувств. 
               </td>
           </tr>
           <tr>
               <td>
                   <center>Татьяна Устинова «Переплеты в жизни» </center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/54083861-tatyana-ustinova-pereplety-v-zhizni.jpg" /></center><br />
                      Перед вами сборник рассказов Татьяны Устиновой «Переплеты в жизни», в который вошло три произведения автора: «Тверская,8», «Не оглядывайся никогда» и «Вечное свидание». Это самостоятельные житейские истории, не связанные единым сюжетом, но в которых читатели безошибочно узнают характерный стиль Татьяны Устиновой.             </td>
               <td>
                   <center>Елена Михалкова «Самая хитрая рыба».</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/48766118-elena-mihalkova-samaya-hitraya-ryba.jpg" /></center><br />
                   Пожилая женщина Анна Сергеевна Бережкова живет в маленьком поселке, где все друг друга знают. Когда в соседнем пустующем доме наконец появляются новые жильцы, старушка сначала радуется, однако после знакомства с Натальей и Антоном решает, что лучше бы дом и дальше пустовал.
               </td>
               <td>
                   <center>Дмитрий Глуховский «Текст» </center><br />
                   <center><img src="https://cv5.litres.ru/pub/c/elektronnaya-kniga/cover_330/24426353-dmitriy-gluhovskiy-tekst.jpg"</center><br />
                  Илья Горюнов, едва окончивший школу, стоял на пороге новой жизни, полной перспектив. Но все перечеркнуло неудачное стечение обстоятельств. Отправившись из пригорода в один из модных московских клубов, Илья попадает в полицейскую облаву. Пытаясь защитить свою девушку, он переходит дорогу молодому сотруднику полиции Петру Хазину. Тот подбрасывает Илье наркотики, в результате чего юношу сажают в тюрьму на долгие семь лет…
               </td>
           </tr>
           <tr>
               <td>
                   <center>Андреас Грубер «Смертельный хоровод»</center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/51597973-andreas-gruber-smertelnyy-horovod.jpg"</center><br />
                  Сразу несколько сотрудников полиции неожиданно решили… покончить с собой. Они сами пошли на такой отчаянный шаг, или кто-то их вынудил? Эти случаи явно связаны с некоей запутанной историей, имевшей место в прошлом. Кажется, Мартен знает, в чем дело, но упорно молчит, отказавшись помогать Сабине и посоветовав ей не влезать в это дело. Но комиссара Немез это не останавливает…
               </td>
                              <td>
                   <center>Александра Мариннина «Другая правда. Том 1»</center><br />
                   <center><img src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_330/43427374-aleksandra-marinina-drugaya-pravda-tom-1.jpg"</center><br />
                После заслуженного отпуска Анастасия Каменская вновь возвращается на работу в частное агентство «Власта», чему очень рада. Отдохнуть так и не удалось: спустя тридцать лет совместной жизни с Чистяковым в тесной однокомнатной квартирке они наконец решили приобрести жилье побольше, но не до конца разобрались с ремонтом и финансами.
               </td>
                              <td>
                   <center>Кристиан Роберт Винд «Нечто из Блэк Вудс»</center><br />
                   <center><img src="https://cv5.litres.ru/pub/c/elektronnaya-kniga/cover_330/48404851-kristian-vind-nechto-iz-blek-vuds.jpg"</center><br />
                  Я много лет работаю детективом, и мне поручают самые безнадежные дела. Врожденная дотошность, болезненное желание все доводить до конца и въедливость позволяли распутывать клубки загадок, которые другие отчаялись разгадать. Зависимость от кофеина практически лишает сна, зато работоспособность моя всегда на высоте. Обратной стороной медали стало то, что к тридцати восьми годам я все еще одинок, в пустой квартире ждет лишь старая глупая кошка… И поэтому мне поручают самые сложные дела. Круг замкнулся.
               </td>
           </tr>
           <tr>
                              <td>
                   <center>Елена Михалкова «Человек из дома напротив» </center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/42726267-elena-mihalkova-chelovek-iz-doma-naprotiv.jpg"</center><br />
                  В жизни риелтора Никиты Сафонова началась черная полоса. Молодому мужчине пришлось переехать в подмосковный коттедж одного из своих клиентов: дом никак не удавалось сдать в аренду, и Никита остался там пожить.
Все было хорошо, пока новый жилец не решил спуститься в подвал. Там он обнаружил любительскую фотолабораторию и напечатанные фотографии четырех сокурсников, которые по разным обстоятельствам погибли.
А когда Никита вновь зашел в подвал через несколько дней, то увидел там пятую фотографию. Свою…
               </td>
                              <td>
                   <center>Люси Фоли «Охотничий Дом»</center><br />
                   <center><img src="https://cv1.litres.ru/pub/c/elektronnaya-kniga/cover_330/54264115-lusi-foli-23186037-ohotnichiy-dom.jpg"</center><br />
                  длинные новогодние праздники компания старинных друзей отправляется в шотландскую глушь. Встречать Новый год вместе – традиция, которая тянется еще с университетских лет. Сейчас им за тридцать, их жизненные пути постепенно расходятся, но традиция неизменна, и в конце каждого года друзья собираются в каком-нибудь необычном и всегда новом месте. В этот раз они отправляются в уединенный дом в Шотландии, где, как им обещано, не будет никого. Несколько дней среди потрясающих по красоте пейзажей, в компании лучших друзей, знающих друг друга как облупленных, – что может быть лучше? 
               </td>
                              <td>
                   <center>Лена Обухова «Хозяйка старого дома»</center><br />
                   <center><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_330/50405660-lena-obuhova-hozyayka-starogo-doma.jpg"</center><br />
                 Неожиданно присоединившийся к ним гость оказался местным жителем и рассказал историю дома, где ребята развели костер. Оказывается, здесь бродит призрак Настасьи – деревенской девки и любовницы князя, которую утопили за ведьмовство. Сам князь тоже погиб, а в память о Насте остался лишь портрет. Любой, кто его увидит, погибнет. Поговаривают, призрак девушки до сих пор бродит по этим коридорам, оставляя мокрые следы в вековой пыли…
               </td>
           </tr>
       </table>
</p>

  
   


{% endblock %}
